<div class="container-fluid">
  <div class="row">
    <div class="col-4">
        <form>
          <div class="row">
              <div class="col-sm-6 form-group">
                  <label for="token">Token</label>
                  <input type="text" [(ngModel)]="token" id="token" name="token" class="form-control" placeholder="Ingrese token"/>
              </div>
              <div class="col-sm-6 form-group">
                  <label for="busqueda">Distrito</label>
                  <ng2-completer [(ngModel)]="queryDistrito" [datasource]="dataService" (selected)="onItemSelect($event)" (keyup)="onSearchDistrito($event)"  [textSearching]="'Buscando...'"
                  [placeholder]="'Ingrese el nombre de un distrito'" [textNoResults]="'Sin resultados'" [clearUnselected]=true [pause]="250"
                  name="busqueda" [inputClass]="['form-control']" [minSearchLength]="2"></ng2-completer>
              </div>
              
          </div>
          <div class="row">
              <div class="col-sm-8 form-group">
                  <label for="direccion">Direccion</label>
                  <input type="text" [(ngModel)]="address" id="direccion" name="direccion" class="form-control" placeholder="Ingrese direccion"/>
              </div>
              <div class="col-sm-4 ">
                  <br/>
                  <button class="btn btn-primary" (click)="searchAddress()">Buscar</button>
              </div>
          </div>
        </form>
    </div>
    <div class="col-8" id="map">
      mapa
    </div>
  </div>

</div>

